button {
    background-color: ghostwhite;
    border-color: black;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    font-weight: bold;
    height: 35px;
    width: 120px;
}

h1 {
    background-attachment: fixed;
    color: black;
    display: inline-block; 
}

.account {
    position: absolute;
    right: 10px;
    top: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}