body {
    background: url('../Universal/homePic.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
    font-family: arial;
    margin: 0;
}

h1 {
    color: white;
    font-family: Lucida Console;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 1px #000000;
}

nav {
    z-index: 25;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul li {
    background-color: black;
    float: left;
    font-size: 20px;
    /* Original, Replaces with above attribute */
    /* font-style: 20px; */
    height: 40px;
    line-height: 40px;
    opacity: .75;
    text-align: center;
    width: calc(100%/6);
}

ul li a {
    color: white;
    display: block;
    text-decoration: none;
}

ul li a:hover {
    background-color: white;
    color: black;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
    opacity: 1.;
}

#mySidenav a {
    border-radius: 0 5px 5px 0;
    color: white;
    font-size: 12px;
    left: -80px;
    padding: 15px;
    position: absolute;
    text-decoration: none;
    transition-duration: 0.3s;
    /* Orignal replaced with above */
    /* transition: 0.3s; */
    width: 100px;
}

#mySidenav a:hover {
    float: left;
    font-size: 14px;
    left: 0;
}

#profile {
    background-color: #f44336;
    top: 220px;
}

#SignIn {
    background-color: #4CAF50;
    top: 260px;
}

#SignUp {
    background-color: #2196F3;
    top: 300px;
}

#fPassword {
    background-color: #555;
    top: 340px;
}

.main-container {
    display: block;
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 100px;
    position: relative;
    /* Original */
    /* min-height: 100vh; */
    /* cover viewport */
    /* overflow: hidden; */
    /* display: block; */
    /* position: relative; */
    /* padding-bottom: 100px; */
    /* height of footer */
}

.footer {
    background-color: black;
    color: white;
    opacity: .75;
    position: absolute;
    text-align: center;
    width: 100%;
}

.content-container {
    background-color: gray;
    color: white;
    margin-left: 80px;
    margin-right: 115px;
    margin-top: 115px;
    overflow: auto;
    padding: 20px;
    z-index: 0;
}

.img-options-right {
    float: right;
    padding-left: 10px;
}

.img-options-left {
    float: left;
    padding-right: 10px;
}

.img-options-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logoutButton {
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
}
