#rod_image {
    width: 20%;
}

#reel_image {
    width: 15%;
}

#line_image {
    width: 20%;
}

#lure_image {
    width: 25%;
}

#bait_image {
    width: 10%;
}

#tacklebox_image {
    width: 20%;
}