/* This style is meant for LoginPage.html, SignUpPage.html, ForgotPasswordPage.html, and AdminPage.html */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-attachment: fixed;
    background-image: url('homePic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
    /* overflow: hidden; */
    padding: 0;
}

form .passChange{
	border-bottom: 2px solid silver;
    margin: 20px 0;
    position: relative;
}

form .txt_field{
	border-bottom: 2px solid silver;
	margin: 30px 0;
    position: relative;   
}

form .txt_field:hover{
    border-bottom: 2px solid #2691d9;
}

input[type="submit"]{
	background: #99ff99;
    border-radius: 25px;
	cursor: pointer;
    font-size: 16px;
    font-weight: 700;
	height: 50px;
    outline: none;
	width: 100%;
}

input[type="submit"]:hover{
    border-color: #2691d9;
    /* transition: .5s; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.center{
    background: white;
    border-radius: 10px;
    margin-left:auto; 
    margin-right:auto; 
    padding: 20px;
    top: 40px;
    width: 400px;
}

.center h1{
    border-bottom: 1px solid silver;
    padding: 0 0 20px 0;
	text-align: center;
}

.center form{
	box-sizing: border-box;
    padding: 0 40px;
}

.txt_field input{
    background: none;
    border: none;
    font-size: 16px;
	height: 40px;
	outline: none;
	padding: 0 5px;
	width: 100%;
}

.txt_field label{
	color: silver;
	font-size: 16px;
	left: 5px;
	pointer-events: none;
    position: absolute;
	top: -5px;
    transform: translateY(-50%); 
}

.pass{
    padding: 0 0 10px;
}

.pass a{
    color: #2691d9;
    text-decoration: none;
}

.pass a:hover{
    text-decoration: underline;
}

.signup_link{
    color: #666666;
	font-size: 16px;
    margin: 30px 0;
    text-align: center;
}

.signup_link a{
    color: #2691d9;
    text-decoration: none;
}

.signup_link a:hover{
    text-decoration: underline;
}

.Mis{
    color: red;
	padding: 0 0 10px;
    visibility: hidden;
}

.profilePic{
	border: 1px solid black;
    border-radius: 50%;
    display: block;
	height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 200px;
}

.userinfo{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.userinfo th{
	padding: 10px;
	text-align: left;
    text-decoration: underline;
}
.center-profile{
    background: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
    position: relative;
    top: 20px;
    width: 400px;
}
.center-profile form{
	box-sizing: border-box;
    padding: 0 40px;
}

.changePass{
	display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
	padding: 0 0 10px;
	position: relative;
	text-align: center;
    text-decoration: underline;
}

.passChange input{
	background: none;
    border: none;
    font-size: 16px; 
    height: 40px;
    outline: none;
	padding: 0 5px;
	width: 100%;
}

.passChange label{
	font-size: 16px;
	pointer-events: none;
    position: absolute;
    transform: translateY(-50%);  
}

.container{
	background: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: relative;
    top: 20px;
    width: 100vh;
}

.banUser form{
	box-sizing: border-box;
    padding: 0 40px;
}

.banUser input[type="number"]{
	background: none;
	border: none;
	border-bottom: 2px solid silver;
    font-size: 16px;
	height: 40px;
    margin: 20px 0;
	outline: none;
    padding: 0 5px;
    position: relative;
    width: 100%;
}

.banUser input[type="number"]:hover{
    border-bottom: 2px solid #2691d9;
}

.banUser input[type="submit"]:hover{
    border-color: #2691d9;
    /* transition: .5s; */
}

.container label{
    display: block;
	font-size: 16px;
    font-weight: bold;
	text-align: center;
    text-decoration: underline;
}

.container table{
    display: table;
    margin-left:auto; 
    margin-right:auto; 
	padding: 10px;
	text-align: center;
}

.container td{
	border: solid 2px;
    border-radius: 10px;
    padding: 5px 100px 5px 100px; 
}

.container tr{
    border-color: #2691d9;
}

.container tr:hover{
    background-color: #f5f5f5;
    border-radius: 10px;
}

.adminUser input[type="number"]{
	background: none;
	border: none;
	border-bottom: 2px solid silver;
    font-size: 16px;
	height: 40px;
    margin: 20px 0;
	outline: none;
    padding: 0 5px;
    position: relative;
    width: 100%;
}

.adminUser input[type="number"]:hover{
    border-bottom: 2px solid #2691d9;
}

.adminUser input[type="submit"]:hover{
    border-color: #2691d9;
    /* transition: .5s; */
}

.removePost input[type="number"]{
	background: none;
	border: none;
	border-bottom: 2px solid silver;
    font-size: 16px;
	height: 40px;
    margin: 20px 0;
	outline: none;
    padding: 0 5px;
    position: relative;
    width: 100%;
}

.removePost input[type="number"]:hover{
    border-bottom: 2px solid #2691d9;
}

.removePost input[type="submit"]:hover{
    border-color: #2691d9;
    /* transition: .5s; */
}

.right-align{
    float: right;
}
